* {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.main-header,
.main-footer {
    background-color: gray;
}

.main-menu,
.main-footer {
    padding: 5px;
}

.main-menu a {
    text-decoration: none;
    color: black;
}

.form-protocol {
    padding: 5px;
    background-color: lightblue;
}

.table-protocol {
    background-color: lightskyblue;
    margin: 5px;
}

.table-protocol,
.table-caption {
    border: 1px solid black;
}

.table-head {
    background-color: gray;
}

.table-process,
.table-history {
    width: 150px;
}

tbody td {
    width: 450px;
}

.table-history:hover,
.table-details:hover {
    background-color: red;
}


/* ---- Components ----*/

.form-text,
.form-buttom {
    border-radius: 3px;
    padding: 3px;
}

.form-label,
.form-buttom,
.label-process {
    font-weight: bold;
}

.label-process {
    display: block;
    line-height: 1.6;
}