* {
    border: 0px;
    margin: 0px;
    padding: 0px;
}

.main-header {
    background-color: #3765af;
}

.main-footer {
    background-color: gray;
}

.main-menu {
    height: 35px;
}

.main-menu,
.main-footer {
    padding: 5px;
}

.main-menu a {
    text-decoration: none;
    color: black;
}

.main-logo {
    font-size: 40px;
    padding: 15px;
    display: block;
    background-color: #fff;
    text-align: center;
}

.main-logo__image {
    width: 30px;
}

.main-logo__link {
    text-decoration: none;
    color: #000;
}

.main-menu__filter {
    width: 25px;
}

.main-menu__option .form-label,
.main-menu__option .form-label__small {
    color: #fff;
}

.main-menu__option {
    display: inline-block;
}

.main-section {
    padding: 15px;
}

.form-protocol {
    padding: 5px;
    background-color: #3765af;
}

.table-protocol {
    background-color: #b1d2e6;
    margin: auto;
}

.table-caption {
    text-decoration: bold;
    background-color: black;
    color: #fff;
}

.table-protocol,
.table-caption {
    border: 1px solid black;
}

.table-head {
    background-color: gray;
}

.table-process,
.table-history {
    width: 150px;
}

tbody td {
    width: 450px;
}

.table-history:hover,
.table-details:hover {
    background-color: red;
}


/* ---- Components ----*/

.form-text,
.form-buttom,
.form-option,
.form-selection {
    border-radius: 3px;
    padding: 5px;
}

.form-label,
.form-buttom,
.label-process {
    font-weight: bold;
}

.label-process {
    display: block;
    line-height: 1.6;
}

.form-subscription {
    padding: 5px;
    text-align: center;
}